<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!-- Fix for Ajax4JSF and IE 9: https://issues.jboss.org/browse/RF-10774 -->
    <filter>
        <filter-name>IE9CompatablityFixFilter</filter-name>
        <filter-class>be.fedict.trust.admin.IE9CompatablityFixFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IE9CompatablityFixFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Facelets -->
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- JBoss Richfaces -->
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>DEFAULT</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
        <param-value>com.sun.facelets.FaceletViewHandler</param-value>
    </context-param>

    <!-- Seam Filter -->
    <filter>
        <filter-name>Seam Filter</filter-name>
        <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
        <!-- Following is for the richfaces upload component -->
        <init-param>
            <param-name>createTempFiles</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>maxRequestSize</param-name>
            <param-value>200000</param-value>
        </init-param>
    </filter>

    <!-- Filter mappings -->
    <filter-mapping>
        <filter-name>Seam Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- JSF listener -->
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>

    <!-- JBoss Seam listener -->
    <listener>
        <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <servlet-class>org.jboss.seam.servlet.SeamResourceServlet
        </servlet-class>
    </servlet>

    <!-- JSF -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- eID Applet -->
    <servlet>
        <servlet-name>AppletServiceServlet</servlet-name>
        <servlet-class>be.fedict.eid.applet.service.AppletServiceServlet
        </servlet-class>
        <init-param>
            <param-name>AuthenticationService</param-name>
            <param-value>
                be/fedict/eid/trust/AuthenticationServiceBean
            </param-value>
        </init-param>
        <init-param>
            <param-name>IncludeCertificates</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>PreLogoff</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>SkipSecureConnectionCheck</param-name>
            <param-value>${eid-applet.SkipSecureConnectionCheck}</param-value>
        </init-param>
        <init-param>
        	<param-name>NoPKCS11</param-name>
        	<param-value>true</param-value>
        </init-param>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.seam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Seam Resource Servlet</servlet-name>
        <url-pattern>/seam/resource/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppletServiceServlet</servlet-name>
        <url-pattern>/applet-service</url-pattern>
    </servlet-mapping>
</web-app>